.notfound {
  text-align: center;

  .oops {
    margin-top: 30vh;
    font-weight: 400;
    font-size: 150px;
  }
  .paragraph {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 5px;
    margin-bottom: 30px;
  }
}
