@import "./../../styles/variables.scss";

.header {
  background-color: $standartColor;
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      span {
        color: $textcolor;
      }
    }
  }
}
